/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

table {
  width: 600px;
  margin: 0 auto;
}

table td:nth-child(1) {
  width: 200px;
}
table td:nth-child(2) {
  width: 60px;
}
table td:nth-child(3) {
  width: 300px;
}
#filtro {
  width: 100%;
  display: inline-block;
}

form {
  max-width: 800px;
  width: 400px;
  margin: 0 auto;
}

form input,
form textarea {
  display: inline-block;
  width: 99%;
  float: left;
}

table tr td,
table tr th{
  border: 1px solid;
  text-align: center;
  padding: 2px 8px;
}

.clickable {
  cursor: pointer;
}

.container-master {
  width: 600px;
  margin: 0 auto;
}

.has-error {
  color: red;
  border: 2px solid red;
}

/*.ng-valid {
  border: 2px solid green;
}

.ng-invalid {
  border: 2px solid red;
}
*/
/*.ng-pristine {
  border: 2px solid #ccc;
}

.ng-dirty {
  border: 2px solid #000;
}


*/
