<h2>Cervejas</h2>

<p>{{msg}}</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>ABV</th>
      <th>Description</th>
      <th colspan=2>Actions</th>
    </tr>
    <tr>
      <th>Filtrar:</th>
      <th colspan=4><input type="text" id="filtro" data-ng-model="filtro.name"></th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat='beer in beers | orderBy:predicate:reverse | filter:filtro'>
      <td><cerveja-nome></cerveja-nome></td>
      <td><cerveja-abv></cerveja-abv></td>
      <td><cerveja-description></cerveja-description></td>
      <td><cerveja-acao-editar></cerveja-acao-editar></td>
      <td><cerveja-acao-remover></cerveja-acao-remover></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan=5>Listagem das cervejas maneiras</td>
    </tr>
  </tfoot>
</table>
